.companylist {
  border: thin solid gray;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.companylisttext {
  position: relative;
  top: -47px;
  background: white;
  padding: 7px;
  width: 110px;
  color: red;
}

form {
  border: thin solid red;
  padding: 2rem;
  margin: 2rem;
  display: flex;
}

.formtext {
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 57px;
  color: red;
}
